.about {
  background: #f7f7f7;
}

.about .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #fff;
  padding: 0 50px;
}

.about .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.about .info {
  font-size: 32px;
  margin-left: 10px;
}

.about .iconfont {
  font-size: 40px;
  padding-right: 20px;
}