  .u-card-wrap {
    background-color: $u-bg-color;
    padding: 1px;
  }
  .content .u-body-item-title{
    line-height: 36px;
  }
  .u-body-item {
    font-size: 32rpx;
    color: #333;
    padding: 20rpx 10rpx;
  }
  
  .rate-wrap{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .appeal-wrap{
    color: $u-type-primary;
    text-align: right;
    margin-top: 16px;
  }