.index {
  padding-bottom: 120px;
}

.page-content {
  padding: 20px;
}

.black-pagination {
  margin: 20px;
}

.tip {
  padding: 0 20px 50px;
  color: #6190E8;

  .red {
    padding-right: 10px;
    display: inline-block;
    color: #E93B3D;
  }
}

.submit-btn {
  margin: 10px 0 0;
}